Module2-assignment.zip
Module2-assignment/data.json
Module2-assignment/file2.txt
Module2-assignment/package-lock.json
Module2-assignment/node_modules/.bin/mime
Module2-assignment/node_modules/.bin/mime.cmd
Module2-assignment/node_modules/.bin/mime.ps1
Module2-assignment/node_modules/@types/color-name/index.d.ts
Module2-assignment/node_modules/@types/color-name/LICENSE
Module2-assignment/node_modules/@types/color-name/package.json
Module2-assignment/node_modules/@types/color-name/README.md
Module2-assignment/node_modules/accepts/HISTORY.md
Module2-assignment/node_modules/accepts/index.js
Module2-assignment/node_modules/accepts/LICENSE
Module2-assignment/node_modules/accepts/package.json
Module2-assignment/node_modules/accepts/README.md
Module2-assignment/node_modules/ansi-regex/index.d.ts
Module2-assignment/node_modules/ansi-regex/index.js
Module2-assignment/node_modules/ansi-regex/license
Module2-assignment/node_modules/ansi-regex/package.json
Module2-assignment/node_modules/ansi-regex/readme.md
Module2-assignment/node_modules/ansi-styles/index.d.ts
Module2-assignment/node_modules/ansi-styles/index.js
Module2-assignment/node_modules/ansi-styles/license
Module2-assignment/node_modules/ansi-styles/package.json
Module2-assignment/node_modules/ansi-styles/readme.md
Module2-assignment/node_modules/array-flatten/array-flatten.js
Module2-assignment/node_modules/array-flatten/LICENSE
Module2-assignment/node_modules/array-flatten/package.json
Module2-assignment/node_modules/array-flatten/README.md
Module2-assignment/node_modules/body-parser/HISTORY.md
Module2-assignment/node_modules/body-parser/index.js
Module2-assignment/node_modules/body-parser/LICENSE
Module2-assignment/node_modules/body-parser/package.json
Module2-assignment/node_modules/body-parser/README.md
Module2-assignment/node_modules/body-parser/lib/read.js
Module2-assignment/node_modules/body-parser/lib/types/json.js
Module2-assignment/node_modules/body-parser/lib/types/raw.js
Module2-assignment/node_modules/body-parser/lib/types/text.js
Module2-assignment/node_modules/body-parser/lib/types/urlencoded.js
Module2-assignment/node_modules/bytes/History.md
Module2-assignment/node_modules/bytes/index.js
Module2-assignment/node_modules/bytes/LICENSE
Module2-assignment/node_modules/bytes/package.json
Module2-assignment/node_modules/bytes/Readme.md
Module2-assignment/node_modules/camelcase/index.d.ts
Module2-assignment/node_modules/camelcase/index.js
Module2-assignment/node_modules/camelcase/license
Module2-assignment/node_modules/camelcase/package.json
Module2-assignment/node_modules/camelcase/readme.md
Module2-assignment/node_modules/cliui/CHANGELOG.md
Module2-assignment/node_modules/cliui/index.js
Module2-assignment/node_modules/cliui/LICENSE.txt
Module2-assignment/node_modules/cliui/package.json
Module2-assignment/node_modules/cliui/README.md
Module2-assignment/node_modules/color-convert/CHANGELOG.md
Module2-assignment/node_modules/color-convert/conversions.js
Module2-assignment/node_modules/color-convert/index.js
Module2-assignment/node_modules/color-convert/LICENSE
Module2-assignment/node_modules/color-convert/package.json
Module2-assignment/node_modules/color-convert/README.md
Module2-assignment/node_modules/color-convert/route.js
Module2-assignment/node_modules/color-name/index.js
Module2-assignment/node_modules/color-name/LICENSE
Module2-assignment/node_modules/color-name/package.json
Module2-assignment/node_modules/color-name/README.md
Module2-assignment/node_modules/content-disposition/HISTORY.md
Module2-assignment/node_modules/content-disposition/index.js
Module2-assignment/node_modules/content-disposition/LICENSE
Module2-assignment/node_modules/content-disposition/package.json
Module2-assignment/node_modules/content-disposition/README.md
Module2-assignment/node_modules/content-type/HISTORY.md
Module2-assignment/node_modules/content-type/index.js
Module2-assignment/node_modules/content-type/LICENSE
Module2-assignment/node_modules/content-type/package.json
Module2-assignment/node_modules/content-type/README.md
Module2-assignment/node_modules/cookie/HISTORY.md
Module2-assignment/node_modules/cookie/index.js
Module2-assignment/node_modules/cookie/LICENSE
Module2-assignment/node_modules/cookie/package.json
Module2-assignment/node_modules/cookie/README.md
Module2-assignment/node_modules/cookie-signature/.npmignore
Module2-assignment/node_modules/cookie-signature/History.md
Module2-assignment/node_modules/cookie-signature/index.js
Module2-assignment/node_modules/cookie-signature/package.json
Module2-assignment/node_modules/cookie-signature/Readme.md
Module2-assignment/node_modules/debug/.coveralls.yml
Module2-assignment/node_modules/debug/.eslintrc
Module2-assignment/node_modules/debug/.npmignore
Module2-assignment/node_modules/debug/.travis.yml
Module2-assignment/node_modules/debug/CHANGELOG.md
Module2-assignment/node_modules/debug/component.json
Module2-assignment/node_modules/debug/karma.conf.js
Module2-assignment/node_modules/debug/LICENSE
Module2-assignment/node_modules/debug/Makefile
Module2-assignment/node_modules/debug/node.js
Module2-assignment/node_modules/debug/package.json
Module2-assignment/node_modules/debug/README.md
Module2-assignment/node_modules/debug/src/browser.js
Module2-assignment/node_modules/debug/src/debug.js
Module2-assignment/node_modules/debug/src/index.js
Module2-assignment/node_modules/debug/src/inspector-log.js
Module2-assignment/node_modules/debug/src/node.js
Module2-assignment/node_modules/decamelize/index.js
Module2-assignment/node_modules/decamelize/license
Module2-assignment/node_modules/decamelize/package.json
Module2-assignment/node_modules/decamelize/readme.md
Module2-assignment/node_modules/depd/History.md
Module2-assignment/node_modules/depd/index.js
Module2-assignment/node_modules/depd/LICENSE
Module2-assignment/node_modules/depd/package.json
Module2-assignment/node_modules/depd/Readme.md
Module2-assignment/node_modules/depd/lib/browser/index.js
Module2-assignment/node_modules/depd/lib/compat/callsite-tostring.js
Module2-assignment/node_modules/depd/lib/compat/event-listener-count.js
Module2-assignment/node_modules/depd/lib/compat/index.js
Module2-assignment/node_modules/destroy/index.js
Module2-assignment/node_modules/destroy/LICENSE
Module2-assignment/node_modules/destroy/package.json
Module2-assignment/node_modules/destroy/README.md
Module2-assignment/node_modules/ee-first/index.js
Module2-assignment/node_modules/ee-first/LICENSE
Module2-assignment/node_modules/ee-first/package.json
Module2-assignment/node_modules/ee-first/README.md
Module2-assignment/node_modules/emoji-regex/index.d.ts
Module2-assignment/node_modules/emoji-regex/index.js
Module2-assignment/node_modules/emoji-regex/LICENSE-MIT.txt
Module2-assignment/node_modules/emoji-regex/package.json
Module2-assignment/node_modules/emoji-regex/README.md
Module2-assignment/node_modules/emoji-regex/text.js
Module2-assignment/node_modules/emoji-regex/es2015/index.js
Module2-assignment/node_modules/emoji-regex/es2015/text.js
Module2-assignment/node_modules/encodeurl/HISTORY.md
Module2-assignment/node_modules/encodeurl/index.js
Module2-assignment/node_modules/encodeurl/LICENSE
Module2-assignment/node_modules/encodeurl/package.json
Module2-assignment/node_modules/encodeurl/README.md
Module2-assignment/node_modules/escape-html/index.js
Module2-assignment/node_modules/escape-html/LICENSE
Module2-assignment/node_modules/escape-html/package.json
Module2-assignment/node_modules/escape-html/Readme.md
Module2-assignment/node_modules/etag/HISTORY.md
Module2-assignment/node_modules/etag/index.js
Module2-assignment/node_modules/etag/LICENSE
Module2-assignment/node_modules/etag/package.json
Module2-assignment/node_modules/etag/README.md
Module2-assignment/node_modules/express/History.md
Module2-assignment/node_modules/express/index.js
Module2-assignment/node_modules/express/LICENSE
Module2-assignment/node_modules/express/package.json
Module2-assignment/node_modules/express/Readme.md
Module2-assignment/node_modules/express/lib/application.js
Module2-assignment/node_modules/express/lib/express.js
Module2-assignment/node_modules/express/lib/request.js
Module2-assignment/node_modules/express/lib/response.js
Module2-assignment/node_modules/express/lib/utils.js
Module2-assignment/node_modules/express/lib/view.js
Module2-assignment/node_modules/express/lib/middleware/init.js
Module2-assignment/node_modules/express/lib/middleware/query.js
Module2-assignment/node_modules/express/lib/router/index.js
Module2-assignment/node_modules/express/lib/router/layer.js
Module2-assignment/node_modules/express/lib/router/route.js
Module2-assignment/node_modules/finalhandler/HISTORY.md
Module2-assignment/node_modules/finalhandler/index.js
Module2-assignment/node_modules/finalhandler/LICENSE
Module2-assignment/node_modules/finalhandler/package.json
Module2-assignment/node_modules/finalhandler/README.md
Module2-assignment/node_modules/find-up/index.d.ts
Module2-assignment/node_modules/find-up/index.js
Module2-assignment/node_modules/find-up/license
Module2-assignment/node_modules/find-up/package.json
Module2-assignment/node_modules/find-up/readme.md
Module2-assignment/node_modules/forwarded/HISTORY.md
Module2-assignment/node_modules/forwarded/index.js
Module2-assignment/node_modules/forwarded/LICENSE
Module2-assignment/node_modules/forwarded/package.json
Module2-assignment/node_modules/forwarded/README.md
Module2-assignment/node_modules/fresh/HISTORY.md
Module2-assignment/node_modules/fresh/index.js
Module2-assignment/node_modules/fresh/LICENSE
Module2-assignment/node_modules/fresh/package.json
Module2-assignment/node_modules/fresh/README.md
Module2-assignment/node_modules/get-caller-file/index.d.ts
Module2-assignment/node_modules/get-caller-file/index.js
Module2-assignment/node_modules/get-caller-file/index.js.map
Module2-assignment/node_modules/get-caller-file/LICENSE.md
Module2-assignment/node_modules/get-caller-file/package.json
Module2-assignment/node_modules/get-caller-file/README.md
Module2-assignment/node_modules/http-errors/HISTORY.md
Module2-assignment/node_modules/http-errors/index.js
Module2-assignment/node_modules/http-errors/LICENSE
Module2-assignment/node_modules/http-errors/package.json
Module2-assignment/node_modules/http-errors/README.md
Module2-assignment/node_modules/iconv-lite/Changelog.md
Module2-assignment/node_modules/iconv-lite/LICENSE
Module2-assignment/node_modules/iconv-lite/package.json
Module2-assignment/node_modules/iconv-lite/README.md
Module2-assignment/node_modules/iconv-lite/encodings/dbcs-codec.js
Module2-assignment/node_modules/iconv-lite/encodings/dbcs-data.js
Module2-assignment/node_modules/iconv-lite/encodings/index.js
Module2-assignment/node_modules/iconv-lite/encodings/internal.js
Module2-assignment/node_modules/iconv-lite/encodings/sbcs-codec.js
Module2-assignment/node_modules/iconv-lite/encodings/sbcs-data-generated.js
Module2-assignment/node_modules/iconv-lite/encodings/sbcs-data.js
Module2-assignment/node_modules/iconv-lite/encodings/utf7.js
Module2-assignment/node_modules/iconv-lite/encodings/utf16.js
Module2-assignment/node_modules/iconv-lite/encodings/tables/big5-added.json
Module2-assignment/node_modules/iconv-lite/encodings/tables/cp936.json
Module2-assignment/node_modules/iconv-lite/encodings/tables/cp949.json
Module2-assignment/node_modules/iconv-lite/encodings/tables/cp950.json
Module2-assignment/node_modules/iconv-lite/encodings/tables/eucjp.json
Module2-assignment/node_modules/iconv-lite/encodings/tables/gb18030-ranges.json
Module2-assignment/node_modules/iconv-lite/encodings/tables/gbk-added.json
Module2-assignment/node_modules/iconv-lite/encodings/tables/shiftjis.json
Module2-assignment/node_modules/iconv-lite/lib/bom-handling.js
Module2-assignment/node_modules/iconv-lite/lib/extend-node.js
Module2-assignment/node_modules/iconv-lite/lib/index.d.ts
Module2-assignment/node_modules/iconv-lite/lib/index.js
Module2-assignment/node_modules/iconv-lite/lib/streams.js
Module2-assignment/node_modules/inherits/inherits_browser.js
Module2-assignment/node_modules/inherits/inherits.js
Module2-assignment/node_modules/inherits/LICENSE
Module2-assignment/node_modules/inherits/package.json
Module2-assignment/node_modules/inherits/README.md
Module2-assignment/node_modules/ipaddr.js/ipaddr.min.js
Module2-assignment/node_modules/ipaddr.js/LICENSE
Module2-assignment/node_modules/ipaddr.js/package.json
Module2-assignment/node_modules/ipaddr.js/README.md
Module2-assignment/node_modules/ipaddr.js/lib/ipaddr.js
Module2-assignment/node_modules/ipaddr.js/lib/ipaddr.js.d.ts
Module2-assignment/node_modules/is-fullwidth-code-point/index.d.ts
Module2-assignment/node_modules/is-fullwidth-code-point/index.js
Module2-assignment/node_modules/is-fullwidth-code-point/license
Module2-assignment/node_modules/is-fullwidth-code-point/package.json
Module2-assignment/node_modules/is-fullwidth-code-point/readme.md
Module2-assignment/node_modules/locate-path/index.d.ts
Module2-assignment/node_modules/locate-path/index.js
Module2-assignment/node_modules/locate-path/license
Module2-assignment/node_modules/locate-path/package.json
Module2-assignment/node_modules/locate-path/readme.md
Module2-assignment/node_modules/media-typer/HISTORY.md
Module2-assignment/node_modules/media-typer/index.js
Module2-assignment/node_modules/media-typer/LICENSE
Module2-assignment/node_modules/media-typer/package.json
Module2-assignment/node_modules/media-typer/README.md
Module2-assignment/node_modules/merge-descriptors/HISTORY.md
Module2-assignment/node_modules/merge-descriptors/index.js
Module2-assignment/node_modules/merge-descriptors/LICENSE
Module2-assignment/node_modules/merge-descriptors/package.json
Module2-assignment/node_modules/merge-descriptors/README.md
Module2-assignment/node_modules/methods/HISTORY.md
Module2-assignment/node_modules/methods/index.js
Module2-assignment/node_modules/methods/LICENSE
Module2-assignment/node_modules/methods/package.json
Module2-assignment/node_modules/methods/README.md
Module2-assignment/node_modules/mime/.npmignore
Module2-assignment/node_modules/mime/CHANGELOG.md
Module2-assignment/node_modules/mime/cli.js
Module2-assignment/node_modules/mime/LICENSE
Module2-assignment/node_modules/mime/mime.js
Module2-assignment/node_modules/mime/package.json
Module2-assignment/node_modules/mime/README.md
Module2-assignment/node_modules/mime/types.json
Module2-assignment/node_modules/mime/src/build.js
Module2-assignment/node_modules/mime/src/test.js
Module2-assignment/node_modules/mime-db/db.json
Module2-assignment/node_modules/mime-db/HISTORY.md
Module2-assignment/node_modules/mime-db/index.js
Module2-assignment/node_modules/mime-db/LICENSE
Module2-assignment/node_modules/mime-db/package.json
Module2-assignment/node_modules/mime-db/README.md
Module2-assignment/node_modules/mime-types/HISTORY.md
Module2-assignment/node_modules/mime-types/index.js
Module2-assignment/node_modules/mime-types/LICENSE
Module2-assignment/node_modules/mime-types/package.json
Module2-assignment/node_modules/mime-types/README.md
Module2-assignment/node_modules/ms/index.js
Module2-assignment/node_modules/ms/license.md
Module2-assignment/node_modules/ms/package.json
Module2-assignment/node_modules/ms/readme.md
Module2-assignment/node_modules/negotiator/HISTORY.md
Module2-assignment/node_modules/negotiator/index.js
Module2-assignment/node_modules/negotiator/LICENSE
Module2-assignment/node_modules/negotiator/package.json
Module2-assignment/node_modules/negotiator/README.md
Module2-assignment/node_modules/negotiator/lib/charset.js
Module2-assignment/node_modules/negotiator/lib/encoding.js
Module2-assignment/node_modules/negotiator/lib/language.js
Module2-assignment/node_modules/negotiator/lib/mediaType.js
Module2-assignment/node_modules/on-finished/HISTORY.md
Module2-assignment/node_modules/on-finished/index.js
Module2-assignment/node_modules/on-finished/LICENSE
Module2-assignment/node_modules/on-finished/package.json
Module2-assignment/node_modules/on-finished/README.md
Module2-assignment/node_modules/p-limit/index.d.ts
Module2-assignment/node_modules/p-limit/index.js
Module2-assignment/node_modules/p-limit/license
Module2-assignment/node_modules/p-limit/package.json
Module2-assignment/node_modules/p-limit/readme.md
Module2-assignment/node_modules/p-locate/index.d.ts
Module2-assignment/node_modules/p-locate/index.js
Module2-assignment/node_modules/p-locate/license
Module2-assignment/node_modules/p-locate/package.json
Module2-assignment/node_modules/p-locate/readme.md
Module2-assignment/node_modules/p-try/index.d.ts
Module2-assignment/node_modules/p-try/index.js
Module2-assignment/node_modules/p-try/license
Module2-assignment/node_modules/p-try/package.json
Module2-assignment/node_modules/p-try/readme.md
Module2-assignment/node_modules/parseurl/HISTORY.md
Module2-assignment/node_modules/parseurl/index.js
Module2-assignment/node_modules/parseurl/LICENSE
Module2-assignment/node_modules/parseurl/package.json
Module2-assignment/node_modules/parseurl/README.md
Module2-assignment/node_modules/path-exists/index.d.ts
Module2-assignment/node_modules/path-exists/index.js
Module2-assignment/node_modules/path-exists/license
Module2-assignment/node_modules/path-exists/package.json
Module2-assignment/node_modules/path-exists/readme.md
Module2-assignment/node_modules/path-to-regexp/History.md
Module2-assignment/node_modules/path-to-regexp/index.js
Module2-assignment/node_modules/path-to-regexp/LICENSE
Module2-assignment/node_modules/path-to-regexp/package.json
Module2-assignment/node_modules/path-to-regexp/Readme.md
Module2-assignment/node_modules/proxy-addr/HISTORY.md
Module2-assignment/node_modules/proxy-addr/index.js
Module2-assignment/node_modules/proxy-addr/LICENSE
Module2-assignment/node_modules/proxy-addr/package.json
Module2-assignment/node_modules/proxy-addr/README.md
Module2-assignment/node_modules/qs/.editorconfig
Module2-assignment/node_modules/qs/.eslintignore
Module2-assignment/node_modules/qs/.eslintrc
Module2-assignment/node_modules/qs/CHANGELOG.md
Module2-assignment/node_modules/qs/LICENSE
Module2-assignment/node_modules/qs/package.json
Module2-assignment/node_modules/qs/README.md
Module2-assignment/node_modules/qs/dist/qs.js
Module2-assignment/node_modules/qs/lib/formats.js
Module2-assignment/node_modules/qs/lib/index.js
Module2-assignment/node_modules/qs/lib/parse.js
Module2-assignment/node_modules/qs/lib/stringify.js
Module2-assignment/node_modules/qs/lib/utils.js
Module2-assignment/node_modules/qs/test/.eslintrc
Module2-assignment/node_modules/qs/test/index.js
Module2-assignment/node_modules/qs/test/parse.js
Module2-assignment/node_modules/qs/test/stringify.js
Module2-assignment/node_modules/qs/test/utils.js
Module2-assignment/node_modules/range-parser/HISTORY.md
Module2-assignment/node_modules/range-parser/index.js
Module2-assignment/node_modules/range-parser/LICENSE
Module2-assignment/node_modules/range-parser/package.json
Module2-assignment/node_modules/range-parser/README.md
Module2-assignment/node_modules/raw-body/HISTORY.md
Module2-assignment/node_modules/raw-body/index.d.ts
Module2-assignment/node_modules/raw-body/index.js
Module2-assignment/node_modules/raw-body/LICENSE
Module2-assignment/node_modules/raw-body/package.json
Module2-assignment/node_modules/raw-body/README.md
Module2-assignment/node_modules/require-directory/.jshintrc
Module2-assignment/node_modules/require-directory/.npmignore
Module2-assignment/node_modules/require-directory/.travis.yml
Module2-assignment/node_modules/require-directory/index.js
Module2-assignment/node_modules/require-directory/LICENSE
Module2-assignment/node_modules/require-directory/package.json
Module2-assignment/node_modules/require-directory/README.markdown
Module2-assignment/node_modules/require-main-filename/CHANGELOG.md
Module2-assignment/node_modules/require-main-filename/index.js
Module2-assignment/node_modules/require-main-filename/LICENSE.txt
Module2-assignment/node_modules/require-main-filename/package.json
Module2-assignment/node_modules/require-main-filename/README.md
Module2-assignment/node_modules/safe-buffer/index.d.ts
Module2-assignment/node_modules/safe-buffer/index.js
Module2-assignment/node_modules/safe-buffer/LICENSE
Module2-assignment/node_modules/safe-buffer/package.json
Module2-assignment/node_modules/safe-buffer/README.md
Module2-assignment/node_modules/safer-buffer/dangerous.js
Module2-assignment/node_modules/safer-buffer/LICENSE
Module2-assignment/node_modules/safer-buffer/package.json
Module2-assignment/node_modules/safer-buffer/Porting-Buffer.md
Module2-assignment/node_modules/safer-buffer/Readme.md
Module2-assignment/node_modules/safer-buffer/safer.js
Module2-assignment/node_modules/safer-buffer/tests.js
Module2-assignment/node_modules/send/HISTORY.md
Module2-assignment/node_modules/send/index.js
Module2-assignment/node_modules/send/LICENSE
Module2-assignment/node_modules/send/package.json
Module2-assignment/node_modules/send/README.md
Module2-assignment/node_modules/send/node_modules/ms/index.js
Module2-assignment/node_modules/send/node_modules/ms/license.md
Module2-assignment/node_modules/send/node_modules/ms/package.json
Module2-assignment/node_modules/send/node_modules/ms/readme.md
Module2-assignment/node_modules/serve-static/HISTORY.md
Module2-assignment/node_modules/serve-static/index.js
Module2-assignment/node_modules/serve-static/LICENSE
Module2-assignment/node_modules/serve-static/package.json
Module2-assignment/node_modules/serve-static/README.md
Module2-assignment/node_modules/set-blocking/CHANGELOG.md
Module2-assignment/node_modules/set-blocking/index.js
Module2-assignment/node_modules/set-blocking/LICENSE.txt
Module2-assignment/node_modules/set-blocking/package.json
Module2-assignment/node_modules/set-blocking/README.md
Module2-assignment/node_modules/setprototypeof/index.d.ts
Module2-assignment/node_modules/setprototypeof/index.js
Module2-assignment/node_modules/setprototypeof/LICENSE
Module2-assignment/node_modules/setprototypeof/package.json
Module2-assignment/node_modules/setprototypeof/README.md
Module2-assignment/node_modules/setprototypeof/test/index.js
Module2-assignment/node_modules/statuses/codes.json
Module2-assignment/node_modules/statuses/HISTORY.md
Module2-assignment/node_modules/statuses/index.js
Module2-assignment/node_modules/statuses/LICENSE
Module2-assignment/node_modules/statuses/package.json
Module2-assignment/node_modules/statuses/README.md
Module2-assignment/node_modules/string-width/index.d.ts
Module2-assignment/node_modules/string-width/index.js
Module2-assignment/node_modules/string-width/license
Module2-assignment/node_modules/string-width/package.json
Module2-assignment/node_modules/string-width/readme.md
Module2-assignment/node_modules/strip-ansi/index.d.ts
Module2-assignment/node_modules/strip-ansi/index.js
Module2-assignment/node_modules/strip-ansi/license
Module2-assignment/node_modules/strip-ansi/package.json
Module2-assignment/node_modules/strip-ansi/readme.md
Module2-assignment/node_modules/toidentifier/index.js
Module2-assignment/node_modules/toidentifier/LICENSE
Module2-assignment/node_modules/toidentifier/package.json
Module2-assignment/node_modules/toidentifier/README.md
Module2-assignment/node_modules/type-is/HISTORY.md
Module2-assignment/node_modules/type-is/index.js
Module2-assignment/node_modules/type-is/LICENSE
Module2-assignment/node_modules/type-is/package.json
Module2-assignment/node_modules/type-is/README.md
Module2-assignment/node_modules/unpipe/HISTORY.md
Module2-assignment/node_modules/unpipe/index.js
Module2-assignment/node_modules/unpipe/LICENSE
Module2-assignment/node_modules/unpipe/package.json
Module2-assignment/node_modules/unpipe/README.md
Module2-assignment/node_modules/utils-merge/.npmignore
Module2-assignment/node_modules/utils-merge/index.js
Module2-assignment/node_modules/utils-merge/LICENSE
Module2-assignment/node_modules/utils-merge/package.json
Module2-assignment/node_modules/utils-merge/README.md
Module2-assignment/node_modules/vary/HISTORY.md
Module2-assignment/node_modules/vary/index.js
Module2-assignment/node_modules/vary/LICENSE
Module2-assignment/node_modules/vary/package.json
Module2-assignment/node_modules/vary/README.md
Module2-assignment/node_modules/which-module/CHANGELOG.md
Module2-assignment/node_modules/which-module/index.js
Module2-assignment/node_modules/which-module/LICENSE
Module2-assignment/node_modules/which-module/package.json
Module2-assignment/node_modules/which-module/README.md
Module2-assignment/node_modules/wrap-ansi/index.js
Module2-assignment/node_modules/wrap-ansi/license
Module2-assignment/node_modules/wrap-ansi/package.json
Module2-assignment/node_modules/wrap-ansi/readme.md
Module2-assignment/node_modules/y18n/CHANGELOG.md
Module2-assignment/node_modules/y18n/index.js
Module2-assignment/node_modules/y18n/LICENSE
Module2-assignment/node_modules/y18n/package.json
Module2-assignment/node_modules/y18n/README.md
Module2-assignment/node_modules/yargs/CHANGELOG.md
Module2-assignment/node_modules/yargs/index.js
Module2-assignment/node_modules/yargs/LICENSE
Module2-assignment/node_modules/yargs/package.json
Module2-assignment/node_modules/yargs/README.md
Module2-assignment/node_modules/yargs/yargs.js
Module2-assignment/node_modules/yargs/lib/apply-extends.js
Module2-assignment/node_modules/yargs/lib/argsert.js
Module2-assignment/node_modules/yargs/lib/command.js
Module2-assignment/node_modules/yargs/lib/completion-templates.js
Module2-assignment/node_modules/yargs/lib/completion.js
Module2-assignment/node_modules/yargs/lib/is-promise.js
Module2-assignment/node_modules/yargs/lib/levenshtein.js
Module2-assignment/node_modules/yargs/lib/middleware.js
Module2-assignment/node_modules/yargs/lib/obj-filter.js
Module2-assignment/node_modules/yargs/lib/usage.js
Module2-assignment/node_modules/yargs/lib/validation.js
Module2-assignment/node_modules/yargs/lib/yerror.js
Module2-assignment/node_modules/yargs/locales/be.json
Module2-assignment/node_modules/yargs/locales/de.json
Module2-assignment/node_modules/yargs/locales/en.json
Module2-assignment/node_modules/yargs/locales/es.json
Module2-assignment/node_modules/yargs/locales/fr.json
Module2-assignment/node_modules/yargs/locales/hi.json
Module2-assignment/node_modules/yargs/locales/hu.json
Module2-assignment/node_modules/yargs/locales/id.json
Module2-assignment/node_modules/yargs/locales/it.json
Module2-assignment/node_modules/yargs/locales/ja.json
Module2-assignment/node_modules/yargs/locales/ko.json
Module2-assignment/node_modules/yargs/locales/nb.json
Module2-assignment/node_modules/yargs/locales/nl.json
Module2-assignment/node_modules/yargs/locales/nn.json
Module2-assignment/node_modules/yargs/locales/pirate.json
Module2-assignment/node_modules/yargs/locales/pl.json
Module2-assignment/node_modules/yargs/locales/pt_BR.json
Module2-assignment/node_modules/yargs/locales/pt.json
Module2-assignment/node_modules/yargs/locales/ru.json
Module2-assignment/node_modules/yargs/locales/th.json
Module2-assignment/node_modules/yargs/locales/tr.json
Module2-assignment/node_modules/yargs/locales/zh_CN.json
Module2-assignment/node_modules/yargs/locales/zh_TW.json
Module2-assignment/node_modules/yargs-parser/CHANGELOG.md
Module2-assignment/node_modules/yargs-parser/index.js
Module2-assignment/node_modules/yargs-parser/LICENSE.txt
Module2-assignment/node_modules/yargs-parser/package.json
Module2-assignment/node_modules/yargs-parser/README.md
Module2-assignment/node_modules/yargs-parser/lib/tokenize-arg-string.js
Module3-assignment/Question.pdf
