<h2></h2>

<form method="post" action="/addOrder">
    <b>Enter your details:</b><br>
    Name:<br>
    <input type="text" name="name"><br>
    Address:<br>
    <input type="text" name="address"><br>
    Email<br>
    <input type="text" name="email"><br><br>
    <b>Enter your phone option:</b><br>
    iPhone 11<br>
    OnePlus 7<br>
    Samsung Galaxy S10<br>
    Google pixel 3a<br>
    Samsung Galaxy Note10<br>
    <input type="text" name="mealSelected"><br><br>
    
    <input type="submit" value="Submit">&nbsp;<input type="reset" value="Reset"><br>
    
</form>
<form method="GET" action="/adminView">
    <input type="submit" value="Admin View">
</form>
