<!DOCTYPE html>
<html>
  <head>
    <style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <h3>About US</h3>
    <!--The div element for the map -->
    <table cellpadding="10">
        <tr>
            <td>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.3614576933155!2d-74.00300508526307!3d40.75407407932732!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258f6216a2e4f%3A0xda926bed47cb0ab9!2sCable%20News%20Network!5e0!3m2!1sen!2sus!4v1578518968365!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="">
                </iframe>
            </td> 
           <td>
            CNN (Cable News Network) is an American news-based pay television channel owned by AT&T's WarnerMedia. CNN was founded in 1980 by American media proprietor Ted Turner as a 24-hour cable news channel. Upon its launch in 1980, CNN was the first television channel to provide 24-hour news coverage and was the first all-news television channel in the United States.<br>
            <b>Customer service: </b>1 (404) 827-1500<br>
            <b>Headquarters:</b> Atlanta, GA<br>
            <b>Founded: </b>1980, Atlanta, GA<br>
            <b>Parent organization: </b>Turner Broadcasting System<br>
            <b>Founders: </b>Ted Turner, Reese Schonfeld<br>
           </td> 
        </tr>
    </table>
    
    <!--
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
    </script>
    -->
  </body>
</html>